.container
  %section.main-content
    %ul
      - @categories.each do |category|
        %li
          %h2
            = category.name
          %ol
            - category.phrases.each do |phrase|
              %li
                .text
                  = phrase.text
                .translation
                  - translation = phrase.translations.where(language: current_language).first
                  - if translation
                    = translation.text
                  - else
                    = "Keine Übersetzung"
