.container
  %section.main-content
    %ul
      - @categories.each do |category|
        %li
          %h2
            = category.name
          %ol
            - category.phrases.where(language: current_language).each do |phrase|
              %li
                .text
                  = phrase.text
                .translation
                  = phrase.translation
