version: '2'

services:
  postgres:
    container_name: emma_postgres
    image: 'postgres:9.6'
    ports:
      - '5432:5432'
    volumes:
      - postgres:/var/lib/postgresql/data

  webpack:
    container_name: emma_webpack
    build: .
    command: bin/docker-webpack-dev-server
    ports:
      - "8080:8080"
    volumes:
      - '.:/app'
    env_file:
      - '.env'

  app:
    container_name: emma_app
    depends_on:
      - 'postgres'
      - 'webpack'
    build: .
    command: bin/docker-rails-dev-server
    ports:
      - "3000:3000"
    volumes:
      - '.:/app'
    env_file:
      - '.env'

volumes:
  postgres: {}
