= form_for [:backend, language] do |f|
  %div.form-group
    %label{:for => "name"}
      Sprache
    = f.text_field :name
    %label{:for => "key"}
      Key
    = f.text_field :key
    = button_tag 'senden' , class: 'btn btn-primary' , type: :submit
