%div.page-header
  %h1
    Sprachen

= link_to 'Neue Sprache anlegen', new_backend_language_path

%div.row
  %div.col-md-12
    %table.table.table-hover
      %thead
        %tr
          %th
            Sprache
          %th
            Funktionen
      %tbody
        - @languages.each do |language|
          %tr
            %td
              = link_to language.name
            %td
              = link_to 'edit', edit_backend_language_path(language)
              = link_to 'delete', backend_language_path(language), method: "delete", data: { confirm: "Sicher?" }

