= form_for [:backend, category, phrase] do |f|
  %div.form-group
    %label{:for => "text"}
      Phrase
    = f.text_field :text, :required => true
    = button_tag 'senden' , class: 'btn btn-primary' , type: :submit
