@import "reset";

html, body {
  background-color: #EE9E36;
  color: white;
  font-family: Helvetica, Arial, _sans;
}

ul, ol, li {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  width: 640px;
  margin: 0 auto;
}

@media only screen and (max-device-width: 480px) {
  .container {
    width: auto;
    margin: 0;
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
}

.main-header {
  margin-top: 2em;
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 50% 50%;
  .logo {
    margin-bottom: 0.5em;
  }
  nav {
    text-align: right;
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: transparent;
      background-position: right 50%;
      background-repeat: no-repeat;
      background-image: image-url('select-arrow-down.png');
      border: 3px solid white;
      border-radius: 0;
      padding: 0.7em 2em;
      -webkit-appearance: none;
      color: white;
    }
  }
}

@media only screen and (max-device-width: 480px) {
  .main-header {
    display: block;
  }
  nav {
    margin-top: 0.5em;
    text-align: left !important;
  }
}

.main-footer {
  font-size: 0.7em;
  color: rgba(255,255,255,0.5);
  margin-top: 2em;
  a, a:visited {
    color: rgba(255,255,255,0.5);
  }
}

.main-content {
  h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }

  ol {
    li {
      .text {
        padding: 1em;
        background-color: rgba(255,255,255,0.15);
      }
      .translation {
        padding: 1em;
        background-color: rgba(255,255,255,0.25);
      }
    }
  }

}
